<!DOCTYPE html>
<html>
<head>
<title>租赁管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
	<script src="../../plugins/laydate/laydate.js"></script>
	<script src="../../libs/jquery/jquery.PrintArea.min.js"></script>
</head>
<!--startprint-->
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
<!--			<div class="form-group col-sm-2">-->
<!--				<input type="text" class="form-control" v-model="q.dingdanName" @keyup.enter="query" placeholder="角色名称">-->
<!--			</div>-->
<!--			<a class="btn btn-default" @click="query">查询</a>-->
			
			<a v-if="hasPermission('sys:dingdan:save')" class="btn btn-primary btn-sm" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('sys:dingdan:update')" class="btn btn-primary btn-sm" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:dingdan:delete')" class="btn btn-primary btn-sm" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a v-if="hasPermission('sys:dingdan:dygn')" class="btn btn-primary btn-sm" @click="dygn"><i class="fa fa-plus"></i>&nbsp;处理租赁状态</a>
			<a v-if="hasPermission('sys:dingdan:bzjthsp')" class="btn btn-primary btn-sm" @click="bzjthsp(1)"><i class="fa fa-plus"></i>&nbsp;允许退还保证金</a>
			<a v-if="hasPermission('sys:dingdan:bzjthsp')" class="btn btn-primary btn-sm" @click="bzjthsp(2)"><i class="fa fa-plus"></i>&nbsp;拒绝退还保证金</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">


			<div class="form-group">
				<div class="col-sm-2 control-label">租赁金额</div>
				<div class="col-sm-10">
					<input type="number" class="form-control" v-model="dingdan.ddje" placeholder="租赁金额"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">租赁开始时间</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" readonly="readonly" v-model="dingdan.kssj" id="kssj" maxlength="0" placeholder="租赁开始时间"/>
<!--					<input type="text" class="form-control" v-model="dingdan.kssj" placeholder="租赁开始时间"/>-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">租赁结束时间</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" readonly="readonly" v-model="dingdan.jssj" id="jssj" maxlength="0" placeholder="租赁结束时间"/>
<!--					<input type="text" class="form-control" v-model="dingdan.jssj" placeholder="租赁结束时间"/>-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">预订人</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dingdan.ydry" placeholder="预订人"/>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label">变更状态</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dingdan.wlzt" placeholder="变更状态"/>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>

	<!-- 上传附件 模态框-->
	<div class="modal fade" id="myModalPreachData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">
						设置退货状态
					</h4>
				</div>
				<div class="modal-body">
					<form id="upload" method="post" class="form-horizontal" enctype="multipart/form-data">
						<div class="form-group" v-show="importModle">
							<div class="form-group">
								<div class="form-group">
									<div class="col-sm-2 control-label">退货状态</div>
									<label class="radio-inline">
										<input type="radio" name="sqthzt" value="1" v-model="dingdan.sqthzt"/> 允许退货
									</label>
									<label class="radio-inline">
										<input type="radio" name="sqthzt" value="2" v-model="dingdan.sqthzt"/> 拒绝退货
									</label>

								</div>
							</div>

						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" @click="saveFile">
						确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>



</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>
   
<script src="../../js/modules/sys/dingdan.js"></script>
</body>
<!--endprint-->
</html>