<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" by:nzcms·ningzhi.net
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/ico" href="nz.ico">
    <link href="js/home/css/css.css" rel="stylesheet" type="text/css"/>
    <link href="js/home/css/css_2.css" rel="stylesheet" type="text/css"/>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="css/font-awesome.min.css">-->
    <!--    <link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">-->
    <!--    <link rel="stylesheet" href="plugins/ztree/css/metroStyle/metroStyle.css">-->
    <!--    <link rel="stylesheet" href="css/main.css">-->
    <script src="libs/jquery.min.js"></script>
    <script src="plugins/layer/layer.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="js/common.js"></script>
    <script src="plugins/laydate/laydate.js"></script>
    <script src="libs/jquery/jquery.PrintArea.min.js"></script>
    <style>


        a:link, a:visited {
            color: #636262;
            text-decoration: none;
        }

        a:hover {
            color: #636262;
            text-decoration: none;
        }
    </style>
    <!--防止网页被框架 -->


    <!--ie6PNG图片兼容 -->
    <script type="text/javascript" src="js/home/js/png.js"></script>
    <script type="text/javascript" src="js/home/js/jquery.liMarquee.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('.png,.index_pic_img,.box');
    </script>

    <!--ie6PNG图片兼容 -->
</head>

<body >
<div id="rrapp">
    <div id="top_box">
        <div id="top_left">欢迎来到闲置物品租赁平台</div>
        <div id="top_right">
            <a href="javascript:void(0);" onclick="AddFavorite('闲置物品租赁平台',location.href)">收藏本站</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:void(0);" onclick="SetHome(this,document.domain);">设为首页</a></div>
    </div>

<!-- <div id="top_flash_box">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1200" height="260" align="middle">
      <param name="movie" value="http://www.taianzxwqy.com/static/home/flash/top/top.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="transparent" />
      <embed src="http://www.taianzxwqy.com/static/home/flash/top/top.swf" width="1200" height="80" align="middle" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode='opaque'></embed>
  </object>
</div> -->


<!--下拉这里开始 -->
<script type="text/javascript">
    <!--
    var timeout = 200;
    var closetimer = 0;
    var ddmenuitem = 0;

    // open hidden layer
    function mopen(id) {
        // cancel close timer
        mcancelclosetime();

        // close old layer
        if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';

        // get new layer and show it
        ddmenuitem = document.getElementById(id);
        ddmenuitem.style.visibility = 'visible';

    }

    // close showed layer
    function mclose() {
        if (ddmenuitem) ddmenuitem.style.visibility = 'hidden';
    }

    // go close timer
    function mclosetime() {
        closetimer = window.setTimeout(mclose, timeout);
    }

    // cancel close timer
    function mcancelclosetime() {
        if (closetimer) {
            window.clearTimeout(closetimer);
            closetimer = null;
        }
    }

    // close layer when click-out
    document.onclick = mclose;

    // -->
    function SetHome(obj, url) {
        try {
            obj.style.behavior = 'url(#default#homepage)';
            obj.setHomePage(url);
        } catch (e) {
            if (window.netscape) {
                try {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                } catch (e) {
                    alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
                }
            } else {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【" + url + "】设置为首页。");
            }
        }
    }

    //收藏本站
    function AddFavorite(title, url) {
        try {
            window.external.addFavorite(url, title);
        } catch (e) {
            try {
                window.sidebar.addPanel(title, url, "");
            } catch (e) {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
            }
        }
    }
</script>


    <div id="top_dh_01" style="text-align: center; background-color: #082E54 ;">
        <form  method="post" class="form form-horizontal">
            <div id="sddm" style=" width:1200px;margin: auto;height: 100%;overflow:hidden;">

                <ul style=" list-style-type:none;  display:inline; text-align: center; ">
                    <li style="  line-height: 65px; "><a href="" style="font-size:24px;">欢迎光临</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px; "
                                                                        href="cpydjm.html">租赁物品</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px; "
                                                                        href="zxcz.html">在线充值</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px; "
                                                                        href="zxczjl.html">充值记录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px;  "
                                                                        href="gwc.html">我的收藏</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px;  "
                                                                        href="wdddym.html">我的租赁</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px;"><a style="font-size:18px;"
                                                                        href="index.html#modules/sys/food.html">进入后台</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li style="  line-height: 65px; font-size:18px; margin-left: 300px;"><a style="font-size:18px;"
                                                                                            href="login.html">登录注册</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>

                </ul>
            </div>
        </form>

    </div>
<!--下拉这里结束 -->


<link type="text/css" rel="stylesheet" href="js/home/css/wang.css">

    <div>
        <div style="width: 50%; height: 50%;position:absolute;top:500px;left:900px;"><input type="text" class="form-control" style=" display:inline;width: 500px" id="foodname" placeholder="物品">
            <a class="btn btn-default" @click="query">搜索</a></div>
        <img src="img/banner.jpg" style="width: 100%;"/>
    </div>
<div id="box" style="width: 100%">
    <table class="table1200"  border="0" align="center" cellpadding="0" cellspacing="8" bgcolor="#FFFFFF">
        <tr valign="top">
            <td width="260" align="center" valign="top" bgcolor="#F5F5F5">


                <!--左侧栏目 -->
                <table height="30" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table width="90%" style="background-color: #082E54;cursor:pointer;" border="0" cellpadding="0"
                       cellspacing="0" class="nzcms_left_bg">
                    <tr>
                        <td width="35" height="35" align="center"></td>
                        <td align="left"><span class="white14B" style="font-size: 20px;">
            
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;租赁物品分类&nbsp;

          </span></td>
                    </tr>
                </table>
                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <a class="btn btn-primary btn-sm" style="width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54;font-size: 18px" @click.stop="ydcw('1')">&nbsp;日常用品</a>
                <a class="btn btn-primary btn-sm" style="font-size: 18px;width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54" @click.stop="ydcw('2')">&nbsp;厨卫用品</a>
                <a class="btn btn-primary btn-sm" style="font-size: 18px;width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54" @click.stop="ydcw('3')">&nbsp;家电用品</a>
                <a class="btn btn-primary btn-sm" style="font-size: 18px;width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54" @click.stop="ydcw('4')">&nbsp;家具以及家居装饰用品</a>
                <a class="btn btn-primary btn-sm" style="font-size: 18px;width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54" @click.stop="ydcw('5')">&nbsp;其他类</a>
                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>

                <table width="90%" style="background-color: #082E54;cursor:pointer;" border="0" cellpadding="0"
                       cellspacing="0" class="nzcms_left_bg">
                    <tr>
                        <td width="35" height="35" align="center"></td>
                        <td align="left"><span class="white14B" style="font-size: 20px;">

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;热度展示&nbsp;

          </span></td>
                    </tr>
                </table>
                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <a class="btn btn-primary btn-sm" style="font-size: 18px;width: 90%; height: 45px; text-align: center;background-color: #082E54;border-color:#082E54" @click.stop="selectisrxsp('1')">&nbsp;热度物品</a>

                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <!--左侧栏目 -->


            </td>
            <td align="center">


                <table height="30" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>
                                <table width="100%" height="30" border="0" cellpadding="3" cellspacing="0" bgcolor="#F5F5F5"
                                       class="bg_qc">
                                    <tr>
                                        <td width="25" height="20" align="center"><img
                                                src="img/nzcms.xinxin.gif" alt="标"/></td>
                                        <td align="left" class="title12">您的位置：

                                            租赁物品展览
                                        </td>
                                        <td align="center" >

                                        </td>
                                    </tr>
                                </table>
                <table height="10" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                    </tr>
                </table>

                <!--图片格式显示 -->
                <meta http-equiv="Content-Type" content="text/html; "/>
                <!--服务专家显示 -->
                <div v-if="foodList.length>0" v-for="(item, index) in foodList">
                    <a :href="'cpxqym.html?id='+item.id">
                        <table width="98%" height="113" border="0" align="center" cellpadding="0" cellspacing="0" class="dx"
                               bgcolor="#ffffff"
                               style="cursor:pointer;border:none;">
                            <tr>
                                <td width="100" rowspan="4" style="text-align: center;"><img style="width: 200px;height: 200px;"
                                                                                             :src="item.tp"
                                                                                             alt="照片"/></td>
                                <td width="" style=""><span style="font-size: 16px;font-weight: bold;">&nbsp;&nbsp;{{item.foodname}}</span>
                                </td>
                                <td rowspan="4" style="font-size:26px;color:#d6d6d6;">&gt;</td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;font-weight: bold;">&nbsp;&nbsp;特点：</span><span
                                        style="font-size: 14px;">类型（{{item.localcolorname}}）;</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;font-weight: bold;">&nbsp;&nbsp;下单量：</span><span
                                        style="font-size: 14px;">{{item.ddsl}}</span></td>
                            </tr>
                            <tr>
                                <td><span style="font-size: 14px;font-weight: bold;">&nbsp;&nbsp;物品描述：</span><span
                                        style="font-size: 14px;">{{item.describe}}</span></td>
                            </tr>
                        </table>

                        <table width="98%" border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF">
                            <tr>
                                <td align="right" class="list_title" style=" border-bottom: 1px solid #d8dadc;">&nbsp;</td>
                            </tr>
                        </table>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
﻿
<div id="end_dh_BOX">

    <div id="end_dh_03" style="background-color: #082E54;width:100%;color: #efefef;font-family:microsoft yahei;">
        <br>
        再次欢迎光临观看本平台！
        <br>
        <style>
            .c_img {
                position: relative;
                margin-left: -200px;
            }

            .c_words {
                margin-top: -25px;
                margin-left: 25px;
            }
        </style>
    </div>


</div>


</div>


<script src="libs/jquery.min.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#rrapp',
        data:{
            showLogin:false,
            username: '',
            password: '',
            captcha: '',
            error: false,
            errorMsg: '',
            errorMsgreg:'',
            src: 'captcha.jpg',
            sxh:'',
            sname:'',
            xzraol:'',
            susername:'',
            spassword:'',
            college:'',
            major:'',
            classinfo:'',
            grade:'',
            zcspassword:'',
            foodList:[],

        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        mounted: function () {   //自动触发写入的函数
            this.issjdym();
            this.getFoodListAll();
        },
        methods: {
            issjdym:function(){
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    console.log("iPhoneiPhoneiPhone")
                    //alert(navigator.userAgent);
                    window.location.href ="cpydjmsjd.html";
                } else if (/(Android)/i.test(navigator.userAgent)) {
                    console.log("AndroidAndroidAndroid")
                    //alert(navigator.userAgent);
                    window.location.href ="cpydjmsjd.html";
                }else {
                    console.log("pcpcpcpcpcpcpcpcpcpc")
                }
            },
            query: function () {
                tjarray = {"foodname":$("#foodname").val()};
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/getFoodListAll",
                    contentType: "application/json",
                    data: JSON.stringify(tjarray),
                    success: function(r){
                        if(r.code === 0){
                            vm.foodList = r.foodList;
                        }else{
                            alert(r.msg);
                        }
                    }
                });
            },
            getFoodListAll: function () {
                tjarray = {};
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/getFoodListAll",
                    contentType: "application/json",
                    data: JSON.stringify(tjarray),
                    success: function(r){
                        if(r.code === 0){
                            vm.foodList = r.foodList;
                        }else{
                            alert(r.msg);
                        }
                    }
                });
            },
            selectType: function (item) {
                console.log("itemitemitemitemitemitem"+item)
                tjarray = {};
                // $.ajax({
                //     type: "POST",
                //     url: baseURL + "sysIndexQd/getFoodListAll",
                //     contentType: "application/json",
                //     data: JSON.stringify(tjarray),
                //     success: function(r){
                //         if(r.code === 0){
                //             vm.foodList = r.foodList;
                //             console.log("foodListfoodListfoodList"+JSON.stringify(vm.foodList))
                //         }else{
                //             alert(r.msg);
                //         }
                //     }
                // });
            },
            selecttaste: function(item){
                console.log("itemitemitemitemitem" + item)
                var temp = {"itemid":item}
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/selectfoodtype",
                    contentType: "application/json",

                    data: JSON.stringify(temp),
                    success: function (r) {
                        if (r.code == 0) {
                            // alert("预定成功");
                            vm.foodList = r.foodList;
                        } else {
                            alert(r.msg);
                        }
                    }
                });
            },
            selectisrxsp: function(item){
                console.log("itemitemitemitemitem" + item)
                var temp = {"itemid":item}
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/selectisrxsp",
                    contentType: "application/json",

                    data: JSON.stringify(temp),
                    success: function (r) {
                        if (r.code == 0) {
                            // alert("预定成功");
                            vm.foodList = r.foodList;
                        } else {
                            alert(r.msg);
                        }
                    }
                });
            },
            selectfoodtype: function(item){
                console.log("itemitemitemitemitem" + item)
                var temp = {"itemid":item}
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/selectfoodtype",
                    contentType: "application/json",

                    data: JSON.stringify(temp),
                    success: function (r) {
                        if (r.code == 0) {
                            // alert("预定成功");
                            vm.foodList = r.foodList;
                        } else {
                            alert(r.msg);
                        }
                    }
                });
            },
            ydcw: function(item){
                // var token = localStorage.getItem("token");
                console.log("itemitemitemitemitem" + item)
                var temp = {"itemid":item}
                $.ajax({
                    type: "POST",
                    url: baseURL + "sysIndexQd/selectLocalcolor",
                    contentType: "application/json",

                    data: JSON.stringify(temp),
                    success: function (r) {
                        if (r.code == 0) {
                            // alert("预定成功");
                            vm.foodList = r.foodList;
                        } else {
                            alert(r.msg);
                        }
                    }
                });
            },
            refreshCode: function(){
                this.src = "captcha.jpg?t=" + $.now();
            },
            regsave:function(){
                var data = vm.spassword;

                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/regsave",
                    data: data,
                    dataType: "json",
                    success: function(r){
                        if(r.code == 0){//登录成功
                            // localStorage.setItem("token", r.token);
                            // parent.location.href ='index.html';
                            // vm.errorMsg = r.msg;
                            vm.errorMsgreg = r.msg;
                        }else{
                            vm.error = true;
                            vm.errorMsgreg = r.msg;
                        }
                    }
                });
                console.log('aaaaaaaaaaaa'+data)
            },
            fh:function(){
                vm.showLogin=false;
            },
            regt: function(){
                vm.showLogin=true;
            },
            login: function () {
                var data = vm.captcha;
                $.ajax({
                    type: "POST",
                    url: baseURL + "sys/login",
                    data: data,
                    dataType: "json",
                    success: function(r){
                        if(r.code == 0){//登录成功
                            localStorage.setItem("token", r.token);
                            parent.location.href ='index.html';
                        }else{
                            vm.error = true;
                            vm.errorMsg = r.msg;
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>
